{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
{% block content %}

<body>
    <h1>HI THIS IS PERFECT PITCHES!</h1>
    <div class="container">

        <div class="pitches" style="margin-top: 30%;margin-left: 37%;">
            <div id="buttons d-block mx-auto">
                <a class="btn btn-outline-secondary " href="/new_post" style="font-size:40px;font-family: 'segoe UI';color: black;">New Pitch</a>
                <a class="btn btn-outline-secondary" href="/posts" style="font-size:40px;font-family: 'segoe UI';color: black;">View Pitches</a>
            </div>
        </div>
    </div>
    <style>
        body {
            background-image: url(/static/images/background.jpg);
        }
    </style>

</body>
{% endblock %}

</html>